@import "https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap";

.logIn {
  position: absolute;
  right: 38%;
  top: 10%;
  width: 400px;
  height: 600px;
  background-color: rgba(247, 236, 237, 0.5);
  border-radius: 25px;
}
#login_btn {
  color: black;
  background-color: rgba(255, 0, 0, 0.171);
  border-radius: 5px;
}
#login_btn:hover {
  box-shadow: 0px 0px 11px 2px rgba(255, 0, 0, 0.171);
}

.TextField {
  background-color: rgba(255, 0, 0, 0.089);
  border-radius: 5px;
}

#LinkUp {
  color: rgb(38, 0, 255);
  font-size: 17px;
  margin-left: 42px;
}
#LinkUp:hover {
  color: rgb(155, 4, 160);
}
#LinkForgotPassword {
  color: rgb(27, 0, 180);
  font-size: 16px;
  margin-right: 49px;
}
#LinkForgotPassword:hover {
  color: rgb(155, 4, 160);
}

#c {
  color: rgba(255, 0, 0, 0);
}

#without_account {
  margin-left: 42px;
}

.Welcome {
  position: absolute;
  left: 2%;
  top: 15%;
  color: tomato;
  font-family: "Mea Culpa", cursive;
  font-size: 35px;
}
