.allPlaylist {
  position: absolute;
  left: 25%;
  top: 79%;
  width: 51%;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0);
}
.all_songs_playlist {
  display: flex;
}
#namePlaylist2 {
  position: absolute;
  top: 72%;
  right: 23%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
