.totalImageSelector {
  width: 400px;
  height: 50px;
  display: flex;
  background-color: rgba(100, 32, 32, 0);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: rgba(241, 228, 228, 0.2);
}
.songsImg {
  border-radius: 100px;
}

#addVideo {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin-left: 23px;
  margin-top: 15px;
  height: 25px;
  width: 25px;
  padding-top: 4.5px;
  border-radius: 100px;

  color: aquamarine;
}
#addVideo:hover {
  /* font-size: 14px; */
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-image: linear-gradient(
    to right,
    #e2762d,
    #884620,
    #c0a086,
    #752209
  );
}

#addVideo:focus {
  outline: none;
}

.songsImg {
  border-radius: 100px;
  height: 30px;
  width: 30px;
}
#playVideo {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.titleSongList {
  /* height: 60px; */
  width: 290px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: aliceblue;
  padding-left: 5px;
}
