.form {
  border-bottom: 1px solid rgba(247, 89, 42, 0.9);
  position: absolute;
  right: 5%;
  top: 65px;
}
.form-input {
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 31px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;

  outline: none;

  animation: elasticInput 0.8s ease forwards;
  transform: translate(0, 0) scale(1);

  color: #9098a9;
}

#btnsearch {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin-left: 23px;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  color: aquamarine;
  padding-top: 4px;
}

#btnsearch:hover {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-image: linear-gradient(
    to right,
    #e2762d,
    #884620,
    #c0a086,
    #752209
  );
}
